@use "variables" as var;
@use "mixins";

@include mixins.small-screen {
    #navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    #team{
        ul{
            grid-template-columns: auto;
        }
    }

    .item1{
        height: 158vh;
    }

    #hero-text{
        margin-top: 45vh;
        h1{
            font-size: 50px;
        }
        p{
            font-size: 40px;
        }
        a{
            top: 300px;
            .fa-solid{
                font-size: 40px;
            }
        }
    }

    #footer{
        grid-template-columns: auto;
        height: 800px;
    }

}