@use "variables" as var;
@use "mixins";

@include mixins.small-screen {
    #navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    #team{
        ul{
            grid-template-columns: auto;
            img {
                width: 90%;
            }
        }
    }

    .item1{
        height: 100vh;
    }

    #hero-text{
        margin-top: 25vh;
        h1{
            font-size: 35px;
        }
        p{
            font-size: 25px;
        }
        a{
            top: 180px;
            .fa-solid{
                font-size: 25px;
            }
        }
    }

    #footer{
        grid-template-columns: auto;
        height: 800px;
    }

}