@use "variables" as var;
@use "mixins";

@include mixins.small-screen {
    #navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    #team{
        ul{
            grid-template-columns: auto;
        }
    }

    #hero-text{
        margin-top: 30vh;
    }

    #footer{
        grid-template-columns: auto;
        height: 800px;
    }

}