@use "variables" as var;

/* Navbar */
@mixin navbar {
    text-align: end;
    float: right;
    height: 80px;
    width: 100%;
    background-color: var.$nav-color;
    line-height: 80px;
}

/* Queries */
@mixin small-screen {
    @media only screen and (max-width: 400px) {
        @content;
    }
}